.recording-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .recording-button.recording {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
  .recording-button .inner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recording-button .inner .icon {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
  }
  
  .recording-button .inner .counter {
    font-size: 14px;
  }
  